<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="general :: headerfiles" th:remove="tag"></div>
        <title>Sign In</title>
        <link th:href="@{/styles/signin.css}" rel="stylesheet">
    </head>

    <body>
        <nav class="navigation">
            <div class="navigation__title-holder">
                <a th:href="@{/static}" class="navigation__title">Remy</a>
            </div>
            <a th:href="@{/register}" class="navigation__link">Register</a>
        </nav>

        <main>
            <section class="signin">
                <h1 class="signin__title">Sign in to your account</h1>

                <div th:fragment="content">
                    <form name="f" th:action="@{/signin}" method="post">               
                        <fieldset>
                            <div class="form__block">
                                <div th:if="${param.error}" class="alert alert-error">    
                                    Invalid username and password.
                                </div>
                            </div>
    
                            <div class="form__block">
                                <div th:if="${param.logout}" class="alert alert-success"> 
                                    You have been logged out.
                                </div>
                            </div>

                            <div class="form__block">
                                <div th:if="${param.registration}" class="alert alert-success">
                                    You have successfully registered an account.
                                </div>
                            </div>
    
                            <div class="form__block">
                                <label class="form-item__label" for="username">Username</label>
                                <input class="form-item__input" type="text" id="username" name="username" placeholder="Enter username"/>    
                            </div> 
                            
                            <div class="form__block">
                                <label class="form-item__label" for="password">Password</label>
                                <input class="form-item__input" type="password" id="password" name="password" placeholder="Enter password"/>  
                            </div>  
        
                            <div class="form__block">
                                <button class="form__button btn" type="submit">Log in</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>