<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remy - Sign in</title>
    <link rel="stylesheet" href="styles/global.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav class="navigation">
        <div class="navigation__title-holder">
            <a href="/" class="navigation__title">Remy</a>
        </div>
        <a href="/about" class="navigation__link">About us</a>
        <a href="/resume" class="navigation__link">Resume</a>
        <a href="/login" class="navigation__link">Login</a>
    </nav>

    <main class="scale-up-center">
    </main>
</body>
</html>