<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="general :: headerfiles" th:remove="tag"></div>
        <title>Profile Home</title>
        <link th:href="@{/styles/home.css}" rel="stylesheet">
    </head>

    <body>
        <nav th:replace="general :: header"></nav>

        <main>
            <section class="home">
                <h1 class="home__title">
                    <th:block th:if="${user.isUpdated()}" th:text="'Welcome back, ' + ${user.getFirstName()}"></th:block>
                    <th:block th:unless="${user.isUpdated()}" th:text="'Hello, newcomer'"></th:block>
                </h1>

                <h2 class="home__subtitle">
                    <th:block th:if="${user.isUpdated()}" th:text="'Modify your information if necessary'"></th:block>
                    <th:block th:unless="${user.isUpdated()}" th:text="'Get started by filling in your information'"></th:block>
                </h2>

                <form class="home__form" action="#" th:action="@{/update/{path}(path = ${user.getId()})}" th:object="${user}" method="post">
                    <div class="form__row">
                        <div class="form__row-item">
                            <label class="form__label" for="firstname">First Name</label>
                            <input class="form__input" type="text" id="firstname" name="firstname"
                                   th:field="*{firstName}"/>
                        </div>

                        <div class="form__row-item">
                            <label class="form__label" for="firstname">Last Name</label>
                            <input class="form__input" type="text" id="lastname" name="lastname"
                                   th:field="*{lastName}"/>
                        </div>
                    </div>

                    <div class="form__button-holder">
                        <button class="form__button btn" type="submit">Update</button>
                    </div>
                </form>
            </section>

            <section class="education">
                <h2 class="education__title">Education</h2>
                <p class="education__subtitle">Enter your education details</p>
                <form class="education__form" action="#" th:action="@{/update/{path}/education(path = ${user.getId()})}" th:object="${user}" method="post">
                    <div class="education__form-section" th:each="myEd, itemState: *{education}">
                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="university">University</label>
                                <input class="form__input" type="text" id="university" name="university"
                                       required
                                       th:field="*{education[__${itemState.index}__].university}"/>
                            </div>

                            <div class="form__row-item">
                                <label class="form__label" for="period">Degree</label>
                                <input class="form__input" type="text" id="period" name="period"
                                       required
                                       th:field="*{education[__${itemState.index}__].period}"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="degree">Degree</label>
                                <input class="form__input" type="text" id="degree" name="degree"
                                       required
                                       th:field="*{education[__${itemState.index}__].degree}"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="details">Extra information</label>
                                <textarea class="form__textarea" id="details" name="details" rows="5"
                                          required
                                          th:field="*{education[__${itemState.index}__].details}"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="education__form__placeholder"></div>

                    <div class="form__button-holder">
                        <button class="education__form__add-button form__add-button" type="button">Add Education</button>
                        <button class="form__button btn" type="submit">Update</button>
                    </div>
                </form>
            </section>
        </main>
    </body>

    <script>
        // Get the current new university section count
        let sectionCount = 0;
        const buttonEducation = document.querySelector(".education__form__add-button");
        const placeholderEducation = document.querySelector(".education__form__placeholder");

        // Add new section
        function addNewEducationSection() {
            // Increase the section count
            sectionCount += 1;

            // Create a new div
            const div = document.createElement("div");
            div.classList.add("education__form-section")

            // Add content
            div.innerHTML = `
                <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="new_university_${sectionCount}">University</label>
                                <input class="form__input" type="text" id="new_university_${sectionCount}" name="new_university" required
                                       th:placeholder="'Enter university'"/>
                            </div>

                            <div class="form__row-item">
                                <label class="form__label" for="new_period_${sectionCount}">Degree</label>
                                <input class="form__input" type="text" id="new_period_${sectionCount}" name="new_period" required
                                       th:placeholder="'Enter period'"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="new_degree_${sectionCount}">Degree</label>
                                <input class="form__input" type="text" id="new_degree_${sectionCount}" name="new_degree" required
                                       th:placeholder="'Enter new degree'"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="new_details_${sectionCount}">Extra information</label>
                                <textarea class="form__textarea" id="new_details_${sectionCount}" name="new_details" rows="5" required
                                          th:placeholder="'Enter new details'"></textarea>
                            </div>
                        </div>
            `

            // Add to form
            placeholderEducation.appendChild(div);
        }

        // Set on click
        buttonEducation.addEventListener("click", function() {
            addNewEducationSection()
        });
    </script>
</html>