<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="general :: headerfiles" th:remove="tag"></div>
        <title>Profile Home</title>
        <link th:href="@{/styles/home.css}" rel="stylesheet">
    </head>

    <body>
        <nav th:replace="general :: header"></nav>

        <main>
            <section class="home">
                <h1 class="home__title">
                    <th:block th:unless="${user.firstName == null || user.firstName.isBlank()}" th:text="'Welcome back, ' + ${user.getFirstName()}"></th:block>
                    <th:block th:if="${user.firstName == null || user.firstName.isBlank()}" th:text="'Hello, newcomer'"></th:block>
                </h1>

                <a class="home__view-button" th:href="@{/users/{path}/view(path = ${user.getId()})}">View Resume</a>

                <form class="education__form" id="visibility-section" th:action="@{/users/{path}/visibility(path = ${user.getId()})}" th:object="${user}"  method="post">
                    <label class="form__select__label" for="visibility">Change resume visibility</label>
                    <div class="form__row">
                        <select class="form__select" th:field="*{visible}" name="visibility" id="visibility">
                            <option th:value="true" th:text="'Visible'"></option>
                            <option th:value="false" th:text="'Not Visible'"></option>
                        </select>
                    </div>
                    <div class="form__button-holder">
                        <button class="form__button btn" type="submit">Update</button>
                    </div>
                </form>

                <h2 class="home__subtitle">
                    <th:block th:if="${user.isUpdated()}" th:text="'Modify your information if necessary'"></th:block>
                    <th:block th:unless="${user.isUpdated()}" th:text="'Get started by filling in your information'"></th:block>
                </h2>

                <form class="home__form" action="#" th:action="@{/users/{path}(path = ${user.getId()})}" th:object="${user}" method="post">
                    <div class="form__row">
                        <div class="form__row-item">
                            <label class="form__label" for="firstname">First Name</label>
                            <input class="form__input" type="text" id="firstname" name="firstname"
                                   th:field="*{firstName}"/>
                        </div>

                        <div class="form__row-item">
                            <label class="form__label" for="firstname">Last Name</label>
                            <input class="form__input" type="text" id="lastname" name="lastname"
                                   th:field="*{lastName}"/>
                        </div>
                    </div>

                    <div class="form__button-holder">
                        <button class="form__button btn" type="submit">Update</button>
                    </div>
                </form>
            </section>

            <section class="education" id="educations">
                <h2 class="education__title">Education</h2>
                <p class="education__subtitle">Enter your education details</p>
                <form class="education__form" action="#" th:action="@{/users/{path}/education(path = ${user.getId()})}" th:object="${user}" method="post">
                    <div class="education__form-section" th:each="myEd, itemState: *{education}">
                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="university">University</label>
                                <input class="form__input" type="text" id="university" name="university"
                                       required
                                       th:field="*{education[__${itemState.index}__].university}"/>
                            </div>

                            <div class="form__row-item">
                                <label class="form__label" for="period">Period</label>
                                <input class="form__input" type="text" id="period" name="period"
                                       required
                                       th:field="*{education[__${itemState.index}__].period}"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="degree">Degree</label>
                                <input class="form__input" type="text" id="degree" name="degree"
                                       required
                                       th:field="*{education[__${itemState.index}__].degree}"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="details">Extra information</label>
                                <textarea class="form__textarea" id="details" name="details" rows="5"
                                          required
                                          th:field="*{education[__${itemState.index}__].details}"></textarea>
                            </div>
                        </div>

                        <div class="form__row">
                            <a th:href="@{/users/{path}/education/delete/{id}(path = ${user.getId()}, id=*{education[__${itemState.index}__].id})}"
                               class="education__form__remove-button">Remove education</a>
                        </div>
                    </div>

                    <div class="education__form__placeholder"></div>

                    <div class="form__button-holder">
                        <button class="education__form__add-button form__add-button" type="button">Add Education</button>
                        <button class="form__button btn" type="submit">Update</button>
                    </div>
                </form>
            </section>

            <section class="experiences" id="experiences">
                <h2 class="experience__title">Experience</h2>
                <p class="experience__subtitle">List the experiences that you have</p>
                <form class="education__form" action="#" th:action="@{/users/{path}/experience(path = ${user.getId()})}" th:object="${user}" method="post">
                    <div class="experience__form__section" th:each="myEd, itemState: *{experiences}">
                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="company">Company</label>
                                <input class="form__input" type="text" id="company" name="company"
                                       required
                                       th:field="*{experiences[__${itemState.index}__].company}"/>
                            </div>

                            <div class="form__row-item">
                                <label class="form__label" for="exp_period">Period</label>
                                <input class="form__input" type="text" id="exp_period" name="exp_period"
                                       required
                                       th:field="*{experiences[__${itemState.index}__].period}"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="title">Title</label>
                                <input class="form__input" type="text" id="title" name="title"
                                       required
                                       th:field="*{experiences[__${itemState.index}__].title}"/>
                            </div>
                        </div>

                        <div class="form__row">
                            <div class="form__row-item">
                                <label class="form__label" for="desc">Description</label>
                                <textarea class="form__textarea" id="desc" name="desc" rows="5"
                                          required
                                          th:field="*{experiences[__${itemState.index}__].description}"></textarea>
                            </div>
                        </div>

                        <div class="form__row">
                            <a th:href="@{/users/{path}/experience/delete/{id}(path = ${user.getId()}, id=*{experiences[__${itemState.index}__].id})}"
                               class="experience__form__remove-button">Remove experience</a>
                        </div>
                    </div>

                    <div class="experience__form__placeholder"></div>

                    <div class="form__button-holder">
                        <button class="experience__form__add-button form__add-button" type="button">Add Experience</button>
                        <button class="form__button btn" type="submit">Update</button>
                    </div>
                </form>
            </section>

            <section class="skills" id="skills">
                <h2 class="skills__title">Skills</h2>
                <p class="skills__subtitle">Enter the skills you have</p>
                <form class="skill__form" th:action="@{/users/{userId}/skills(userId = ${user.getId()})}" th:object="${user}" method="post">
                    <div class="form__row skill-form__section" th:each="mySkill, itemState: *{skills}">
                        <input class="form__input" type="text" id="skill" name="skill"
                               required
                               th:field="*{skills[__${itemState.index}__].name}"/>
                        <a th:href="@{/users/{path}/skills/delete/{id}(path = ${user.getId()}, id=*{skills[__${itemState.index}__].id})}"
                           class="skill__form__remove-button">Remove</a>
                    </div>

                    <div class="skill__form__placeholder"></div>

                    <div class="form__button-holder">
                        <button class="skill__form__add-button form__add-button" type="button">Add Skill</button>
                        <button class="form__button btn" type="submit">Update</button>
                    </div>
                </form>
            </section>
        </main>
    </body>

    <script>
        // Get the current new university section count
        let educationSectionCount = 0;
        let skillSectionCount = 0;
        let experienceSectionCount = 0;

        const buttonEducation = document.querySelector(".education__form__add-button");
        const placeholderEducation = document.querySelector(".education__form__placeholder");

        const buttonSkill = document.querySelector(".skill__form__add-button");
        const placeholderSkill = document.querySelector(".skill__form__placeholder");

        const buttonExperience = document.querySelector(".experience__form__add-button");
        const placeHolderExperience = document.querySelector(".experience__form__placeholder");

        // Add to experience section
        function addNewExperience() {
            // Increase experience section count
            experienceSectionCount += 1;

            // Create a new div
            const div = document.createElement("div");
            div.classList.add("experience__form__section");

            // Add inner HTML
            div.innerHTML = `
                <div class="form__row">
                        <div class="form__row-item">
                            <label class="form__label" for="new_company_${experienceSectionCount}">Company</label>
                            <input class="form__input" type="text" id="new_company_${experienceSectionCount}" name="new_company"
                                   required
                                   th:text="'Company'"/>
                        </div>

                        <div class="form__row-item">
                            <label class="form__label" for="new_exp_period_${experienceSectionCount}">Period</label>
                            <input class="form__input" type="text" id="new_exp_period_${experienceSectionCount}" name="new_exp_period"
                                   required
                                   th:text="'Period'"/>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__row-item">
                            <label class="form__label" for="new_title_${experienceSectionCount}">Title</label>
                            <input class="form__input" type="text" id="new_title_${experienceSectionCount}" name="new_title"
                                   required
                                   th:text="Title'"/>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__row-item">
                            <label class="form__label" for="new_desc_${experienceSectionCount}">Description</label>
                            <textarea class="form__textarea" id="new_desc_${experienceSectionCount}" name="new_desc" rows="5"
                                      required
                                      th:text="'Description'"></textarea>
                        </div>
                    </div>

                    <div class="form__row">
                        <a class="experience__form__remove-button">Remove experience</a>
                    </div>
                </div>
            `;

            // Add button on click listener
            const button = div.querySelector(".experience__form__remove-button");
            button.addEventListener("click", function() {
                div.remove();
            })

            // Add to placeholder
            placeHolderExperience.appendChild(div);
        }

        // Add new skill section
        function addNewSkillSection() {
            // Increase the skill section count
            skillSectionCount += 1;

            // Create a new div
            const div = document.createElement("div");
            div.classList.add("skill-form__section");
            div.classList.add("form__row")

            // Add content
            div.innerHTML = `
                <input class="form__input" type="text" id="new_skill_${skillSectionCount}" name="new_skill"
                               required
                               value="New Skill"/>
                <a class="skill__form__remove-button">Remove</a>
            `;

            // Add event on click
            const removeButton = div.querySelector(".skill__form__remove-button");
            removeButton.addEventListener("click", function() {
               div.remove();
            });

            // Add to placeholder
            placeholderSkill.appendChild(div);
        }

        // Add new section
        function addNewEducationSection() {
            // Increase the section count
            educationSectionCount += 1;

            // Create a new div
            const div = document.createElement("div");
            div.classList.add("education__form-section")

            // Add content
            div.innerHTML = `
                <div class="form__row">
                    <div class="form__row-item">
                        <label class="form__label" for="new_university_${educationSectionCount}">University</label>
                        <input class="form__input" type="text" id="new_university_${educationSectionCount}" name="new_university" required
                               th:placeholder="'Enter university'"/>
                    </div>

                    <div class="form__row-item">
                        <label class="form__label" for="new_period_${educationSectionCount}">Period</label>
                        <input class="form__input" type="text" id="new_period_${educationSectionCount}" name="new_period" required
                               th:placeholder="'Enter period'"/>
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__row-item">
                        <label class="form__label" for="new_degree_${educationSectionCount}">Degree</label>
                        <input class="form__input" type="text" id="new_degree_${educationSectionCount}" name="new_degree" required
                               th:placeholder="'Enter new degree'"/>
                    </div>
                </div>

                <div class="form__row">
                    <div class="form__row-item">
                        <label class="form__label" for="new_details_${educationSectionCount}">Extra information</label>
                        <textarea class="form__textarea" id="new_details_${educationSectionCount}" name="new_details" rows="5" required
                                  th:placeholder="'Enter new details'"></textarea>
                    </div>
                </div>

                <div class="form__row">
                    <a href="#" class="education__form__remove-button">Remove education</a>
                </div>
            `

            // Add to form
            placeholderEducation.appendChild(div);

            // Set on click
            const removeButton = div.querySelector(".education__form__remove-button");
            removeButton.addEventListener("click", function() {
                div.remove();
            });
        }

        // Set on click
        buttonEducation.addEventListener("click", function() {
            addNewEducationSection();
        });
        buttonSkill.addEventListener("click", function() {
            addNewSkillSection();
        });
        buttonExperience.addEventListener("click", function() {
           addNewExperience();
        });
    </script>
</html>