<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="general :: headerfiles" th:remove="tag"></div>
    <title>Remy - Create and Share your resume</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
</head>
<body>
    <nav class="navigation">
        <div class="navigation__title-holder">
            <a th:href="@{/}" class="navigation__title">Remy</a>
        </div>

        <a th:href="@{/signin}" class="navigation__link" th:unless="${isLoggedIn}">Sign In</a>
        <a th:href="@{/register}" class="navigation__link" th:unless="${isLoggedIn}">Register</a>
        <a th:href="@{/signout}" class="navigation__link" th:if="${isLoggedIn}">Sign Out</a>
    </nav>

    <main class="scale-up-center">
        <section class="intro">
            <h1 class="intro__title">Create and Share your resume</h1>
            <h2 class="intro__subtitle">completely free</h2>
            <img class="intro__image" th:src="@{/images/remy.png}" alt="Remy Resume">
            <div class="buttons">
                <th:block th:if="${isLoggedIn}">
                    <a class="button" th:href="@{/home}">Edit resume</a>
                </th:block>

                <th:block th:unless="${isLoggedIn}">
                    <a class="button" th:href="@{/signin}">Sign In</a>
                </th:block>
            </div>
        </section>
    </main>
</body>
</html>