/* Styling for Home Page */

main {
    margin: 3rem auto;
    width: 80%;
}

.home {
    margin-bottom: 3rem;
}

.home__title {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #F77F00;
}

.home__subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.form__button-holder {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form__row {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-bottom: 1rem;
}

.form__row-item {
    flex-grow: 1;
}

.form__label {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.5rem;
}

.form__input {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
}

.form__textarea {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    width: 100%;
    border: 1px solid #000;
}

.form__button, .form__add-button {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    background: #3A86FF;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
}

.form__add-button {
    display: block;
    background: #F77F00;
    margin-right: 1rem;
}

/* Education section */
.education__title {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #F77F00;
    margin-bottom: 2rem;
}

.education__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.education__form-section {
    margin-bottom: 5rem;
}